* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
      background: 
      linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ), url(./drum_background.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  .container {
      display: flex;
      justify-content: space-around;
      margin-top: 20%;
  }
  .btn {
      border: solid  #ffff00 2px;
      display: inline-block;
      color:  #4d4d00;
      font-size: 30px;
      padding: 15px;
      text-align: center;
  }